/* html {
    background: url("bg.jpg");
    width: 60%;
} */

.body {
    background: url("bg.jpg");
    min-height: 97vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
}


/* .head {
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34);
    transform: scale(1.02);
    border-radius: 9px;
}

.snake {
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
} */